@model EvaluationSystemProjectFHJ.Models.Sheet

@{
    ViewBag.Title = "Delete";
}
@{
    Layout = null;
}


<style>
.swal2-popup {
    font-size: 1.6rem !important;
}
.full-width{
	width:100%;
}

.mywrapper{
	width:93%;
	margin:0 auto;
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<div class="full-width" style="height:200px; background-color:#1d6a3e;">
    <div class="mywrapper">
        <div class="jumbotron" style="background-color:#30302e; height:175px;">
            <center>
                <h1 style="color:#faface;">Teacher Evaluation System</h1>
            </center>
        </div>
    </div>
</div>
<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Sheet</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Professor
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Professors.Lastname), @Html.DisplayFor(model => model.Professors.Firstname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuestionOne)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuestionOne)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuestionTwo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuestionTwo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuestionThree)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuestionThree)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuestionFour)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuestionFour)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuestionFive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuestionFive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateSubmitted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateSubmitted)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div id="formdelete" class="form-actions no-color">
                <input type="submit" value="Delete" id="delete" hidden/>
                <input id="btnDelete" type="button" onclick="confirmDelete()" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "../Students/Home")
            </div>
        }
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Switso Company</p>
    </footer>
</div>

<script>
    function confirmDelete() {
        Swal.fire({
            title: 'Deleting your evaluation',
            text: 'Are you sure you want to delete this?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            reverseButtons: true
        }).then(result => {
            if (result.value) {
                $('#delete').click();
            } else {
                swal.dismiss
            }
        })
    }
</script>