@model IEnumerable<EvaluationSystemProjectFHJ.Models.Sheet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Professors.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionThree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionFour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionFive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Professors.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Students.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionThree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionFour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionFive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSubmitted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SheetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SheetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SheetID })
        </td>
    </tr>
}

</table>
